@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.Projects {
	margin: 75px 0px;

	h1 {
		margin-bottom: 30px;
	}
}

.ProjectCard {
	margin-bottom: 70px;
	display: flex;
	
	.date {
		font-size: $smallest;
	}

	.cardHeader {
		// display: flex;
		// justify-content: space-between;
		margin-bottom: 7px;

		.cardName {
			font-weight: 600;
			color: $primary;
		}
		
		.domains {
			padding-top: 5px;
			font-size: $small;
		}
	}

	.desc {
		font-size: $small;
	}

	.cardFooter {
		margin-top: 20px;
		font-size: $small;
		// text-decoration: underline;
	}

	img {
		width: 24%;
		margin-right: 25px;
		border-radius: 5px;
		// height: 150px;
		object-fit: cover;
	}

	// .img-desktop {
	// 	display: block;
	// }

	.imgMobile {
		display: none;
	}

	@include respond(sm) {
		flex-direction: column;

		img {
			width: 100%;
			height: 125px;
			margin-bottom: 20px;
		}

		.imgDesktop {
			display: none;
		}

		.imgMobile {
			display: block;
			margin: 10px 0px;
		}

		.domains {
			padding-top: 0px;
			// font-size: $small;
		}

		.ProjectCard{
			margin: 50px 0px;
		}
	}

	@include respond(xs) {
		// flex-direction: column;

		img {
			// width: 100%;
			height: 80px;
			// margin-bottom: 20px;
		}
	}
}



.tagDomain {
	border: 1px solid $primary;
	border-radius: 50px;
	// font-size: 0.8em;
	padding: 3px 7px;
	margin-right: 7.5px;
	margin-bottom: 6px;
	background-color: $primary-transparent;
	// background-color: $primary;
	// color: $background;
	color: $text-color;
	// color: $primary;
	// font-weight: 600;
	font-size: $smallest;
	// box-sizing: ;
	display: inline-block;
}

.tagTech {
	border: 1px solid $text-color;
	border-radius: 50px;
	// font-size: 0.8em;
	padding: 3px 7px;
	margin-right: 7.5px;
	// background-color: $primary-transparent;
	// background-color: $primary;
	color: $background;
	color: $text-color;
	// color: $primary;
	// font-weight: 600;
	font-size: $smallest;
	display: inline-block;
}