@import '../../styles/variables.scss';

.about {
	max-width: 900px;
	// min-height: 600px;
	// max-height: 500px;
	margin: 75px 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	// align-items: center;


	p {
		padding: 1rem 0;
		// font-size: 1.1em;
	}

	img {
		width: 100%;
	}
}