@import '../../styles/variables.scss';

.about {
	max-width: 900px;
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	// align-items: center;


	p {
		padding: 1rem 0;
		// font-size: 1.1em;
	}

	img {
		width: 100%;
	}
}