@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

// font family
$ff-montserrat: 'Montserrat', sans-serif;

// color
$primary: #FF8787;
$background: #343434;
$text-color: #ffffff;

//font size

$small: 0.85em;
$smallest: 0.75em;