@import '../../styles/variables.scss';

.Nav {
	height: 8vh;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	
	div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 900px;
		width: 100%;

		ul {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			list-style: none;
			max-width: 150px;
			width: 100%;
			li {
				text-decoration: none;
				
				a {
					color: $primary;
				}
			}
		}
	}
}